.experiences-container {
  width: 95%;
  margin: 30px auto;
  padding: 4rem 2rem;
}
/* 
@media (max-width: 500px) {
  .experiences-container {
    width: 100%;
  }
} */

.experiences-container > .animate > .title {
  color: #ccd6f6;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.line {
  width: 40%;
  height: 2px;
  background-color: #233554;
  backdrop-filter: blur(10px);
}

.title > span {
  color: var(--secondary-color);
}

.experiences-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 2rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  border-bottom: 1px solid #233554;
}

.experience:nth-child(3) {
  border-bottom: none;
}

.experience > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience > .title > p {
  font-size: 21px;
  padding-top: 10px;
  color: var(--font-color);
}

.experience > .title > span {
  font-size: 0.875rem;
}

.department {
  font-size: 0.875rem;
  color: var(--secondary-color);
  padding-bottom: 10px;
}

.description {
  font-size: 0.975rem;
  line-height: 1.5rem;
  padding-bottom: 10px;
}

.skills-learned {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 10px 0;
  margin-bottom: 10px;
}

.skills-learned > li {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #112240;
  font-size: 0.875rem;
  transition: all 300ms ease;
}
.skills-learned > li:hover {
  color: var(--secondary-color);
}

@media (max-width: 650px) {
  .experiences-container {
    padding: 0rem;
  }
  .experience > .title {
    font-size: 24px;
  }
  .animate > .title > span {
    display: none;
    color: violet;
  }
  .line {
    display: none;
  }

  .experiences-wrapper {
    width: 100%;
    padding: 0;
  }
  .experience {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .experience > .title {
    flex-direction: column-reverse;
    align-items: normal;
  }
  .skills-learned {
    flex-wrap: wrap;
  }
}
