.about-us {
  margin-top: 30px;
  display: flex;
  gap: 0.5rem;
  padding: 3rem 1rem;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

.about-wrapper > .animate > .title {
  color: var(--Primary-font-color);
  font-size: 27px;
  font-weight: 600;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .about-wrapper > .animate > .title {
    font-size: 14px;
  }
}

.animate > .title > span {
  color: var(--secondary-color);
}

.animate > p {
  line-height: 1.8rem;
  padding-bottom: 10px;
  font-size: 19px;
  width: 88%;
}

@media (max-width: 980px) {
  .about-wrapper > .animate > .title {
    margin-bottom: 1rem;
  }
}

/* .skills { margin: 0; padding: 0; } */
.skills-list {
  width: 50%;
  padding-top: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.875rem;
}

.skills-list > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-image {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image > img {
  width: 100%;
  height: 350px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .about-us {
    margin-top: 20px;
  }

  .animate > .title > span {
    display: none;
  }
  .skills-list {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .about-us {
    padding-left: 1rem;
  }
  .about-wrapper > .animate > .title {
    font-size: 24px;
    width: max-content;
  }
  .about-image {
    display: none;
  }

  .skills-list {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .about-us {
    flex-wrap: wrap;
  }

  .about-wrapper {
    width: 100%;
  }
  .about-image {
    display: none;
  }
}

.about-animation {
  /* Define your animation styles here */
  /* For example, you can set opacity and transform properties to control the animation */
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Disable animation on mobile */
@media (max-width: 700px) {
  .about-animation {
    /* You can set the animation properties to none or initial */
    opacity: 1;
    transform: initial;
  }
}
