:root {
  --body-primary: #0a192f;
  --secondary-color: #50ffd5;
  --font-color: #99a4c2;
  --slate: #8892b0;
  --lightest-slate: #d4deff;

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lexend", sans-serif;
}

body {
  background: var(--body-primary);
  color: var(--font-color);
  font-family: var(--secondary-font);
}
