.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: transform 300ms ease;
}

.button:hover {
  transform: translateY(-5px);
}
