.sidemenu {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 35%;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;

  gap: 1rem;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.sidemenu > a > .icon {
  color: var(--font-color);
  margin: 5px 20px;
  font-size: 27px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.sidemenu > a > .icon:hover {
  stroke: var(--secondary-color);
  transform: scale(1.1);
}
.line {
  width: 2px;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: var(--secondary-color);
}

@media (max-width: 700px) {
  .sidemenu {
    display: none;
  }
}
